header.header { grid-area: header; }

nav.nav { grid-area: nav; }

main.main-content { grid-area: main; }

footer.footer { grid-area: footer; }

.App.container {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: "header" "nav" "main" "footer";
}

@media (min-width: 640px) {
  .App.container {
    min-height: 100vh;
    grid-template:
            "header header" 100px
            "nav main"      1fr
            "footer footer" 100px
                / 1fr 5fr;

  }
}

.container .header,
.container .nav,
.container .footer {
  background-color: #f5f5f5;
  border: 1px solid black;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .main-content {
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
}

.container .nav {
    flex-direction: column;
}